.current-appointment-page{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-size: cover;
}

.current-appointment-page__container{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-appointment-page__container__header h3{
  font-size: 3rem;
  font-weight: 600;
  color: rgb(22, 22, 22);
  text-decoration: none;
}

.current-appointment-page__container__body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 90%;
  height: 70%;
  padding: 1rem;
}

.current-appointment-page__container__body::-webkit-scrollbar {
  width: 7px;
}

.current-appointment-page__container__body::-webkit-scrollbar-track {
  background: #f1f1f193;
}

.current-appointment-page__container__body::-webkit-scrollbar-thumb {
  background: #9c741e;
  border-radius: 10px;
}

.current-appointment-page__container__body__card{
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  height: max-content;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.current-appointment-page__card__details{ 
  width: 60%;
}

.current-appointment-page__container__footer{
  width: 20%;
  padding: 1rem;
}

.current-appointment-page__container__footer button{
  width: 100%;
  height: 3rem;
}

.current-appointment-page__card__status{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cancel__appointment-btn{
  height: 3rem;
  width: 100%;
  background-color: #f44336;
}

.current-appointment-page__card__status__info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.current-appointment-page__container__no-appointment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.current-appointment-page__card__details-info p span{
  color: #9c741e;
  font-weight: 600;
  word-wrap: break-word;
}