.settings-page {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top, #afafad 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  background-size: cover;
}

.settings-page__container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-page__container__left{
  width: 40%;
  padding: 1rem;
}

.form-label{
  min-width: 7rem;
}

.settings-input{
  width: 100%;
}

.edit-form{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 640px) {
  .edit-form{
    flex-direction: column;
  }
}

.settings-page__container__left__btns{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settings-page__container h3{
  font-size: 3rem;
  font-weight: 600;
  color: rgb(22, 22, 22);
  text-decoration: none;
  margin-top: 5rem;
}

.settings-page__profile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.choose-file{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.settings-page__container__left__btns__cancel{
  background-color: red;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.settings-page__container__left__btns__save{
  background-color: #9c741e;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
