.dashboard{
  background-image: linear-gradient(to top, #afafad 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap:2rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  border-bottom: 2px solid black;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar__logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(22, 22, 22);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 529px) {
  .navbar__logo{
    display: none;
  }
}

.navbar__logo span{
  color: #9c741e;
}

.user__name{
  font-size: 2rem;
  font-weight: 600;
  color: rgb(22, 22, 22);
  text-decoration: none;
}

@media screen and (max-width: 690px) {
  .user__name{
    display: none;
  }
}

.user__name span{
  color: #9c741e;
  text-transform: capitalize;
}

.logout-btn button{
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.logout-btn button:hover{
  background-color: #770000;
}

.page__container__body__card{
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  height: max-content;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  /* add shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dasboard__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 86%;
  margin-top: 60px;
}

@media screen and (max-width: 1581px) {
  .dasboard__container {
    overflow-y: scroll;
  }
}

.card{
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
}

.card__header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__header h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(43, 43, 43);
  text-decoration: none;
}

.card__body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__body p{
  font-size: 1.2rem;
  color: rgb(22, 22, 22);
  text-decoration: none;
  line-height: 1.5;
}

.card__footer button{
  background-color: #9c741e;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.status-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.status-dialog .status-dialog__header h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(43, 43, 43);
  text-decoration: none;
}

.status-dialog__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.status-dialog__footer button:nth-child(2){
  margin-left: 1rem;
  background: red;
  transition: all 0.3s ease;
}

.status-dialog__footer button:hover{
  opacity: 0.5;
}