.confirm-appointment-page {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  background-size: cover;
}

.confirm-appointment-page__container{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-appointment-page__container__body{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 90%;
  height: 70%;
  padding: 1rem;
}

.confirm-appointment-page__container__body::-webkit-scrollbar {
  width: 7px;
}

.confirm-appointment-page__container__body::-webkit-scrollbar-track {
  background: #f1f1f193;
}

.confirm-appointment-page__container__body::-webkit-scrollbar-thumb {
  background: #9c741e;
  border-radius: 10px;
}

.confirm-appointment-page__card__details{ 
  width: 60%;
}

.confirm-appointment-page__card__status{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.confirm-appointment-page__card__status__info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.confirm-appointment-page__card__status__btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.confirm-appointment-page__card__status__btns button{
  width: 6rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.confirm__appointment-btn{
  background-color: #00b894;
}

.reject__appointment-btn{
  background-color: #d63031;
}

.confirm-appointment-page__container__footer{
  width: 20%;
  padding: 1rem;
}

.confirm-appointment-page__container__footer button{
  width: 100%;
  height: 3rem;
}

.confirm-appointment-page__card__details-info p span{
  color: #9c741e;
  font-weight: 600;
  word-wrap: break-word;
}

.confirm-appointment-page__container__body__no-appointment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}