.appointment-history-page__container__body{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 90%;
  height: 70%;
  padding: 1rem;
}

.appointment-history-page__container__body::-webkit-scrollbar {
  width: 7px;
}

.appointment-history-page__container__body::-webkit-scrollbar-track {
  background: #f1f1f193;
}

.appointment-history-page__container__body::-webkit-scrollbar-thumb {
  background: #9c741e;
  border-radius: 10px;
}

.current-appointment-page__container__body__no-appointment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}