.resetPasswordForm{
  min-width: 30%;
  min-height: 50%;
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 10px;
  box-shadow: 2px 1px 20px rgba(0, 0, 0, 1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}